footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.nav {
  /* padding: 5px; */
  margin: 5px;
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

a.nav-link.active {
  padding: 1px;
  text-decoration: underline;
}

a.nav-link {
  padding: 1px;
  margin-left: 10px;;
}

a {
  color: black !important;
}