footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;
}

.nav {
  /* padding: 5px; */
  margin: 5px;
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

a.nav-link.active {
  padding: 1px;
  text-decoration: underline;
}

a.nav-link {
  padding: 1px;
  margin-left: 10px;
  color: white !important;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-text {
  color: white;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
  background-image: url('./assets/moody-clouds.jpg');
  background-size: 200%;
  background-position: 50% 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white !important;
}

.home-intro {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  line-height: 1.0;
  padding: 20px;
  margin-right: 50px;
  margin-top: 100px;
  /* position: fixed; */
  bottom: 10%;
  left: 10%;
  right: 30%;
  top: 70%;
}

.hi-im-chantel {
  font-size: 60px;
}